.navbar-nav li {
    padding-right: 20px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#saveInfo {
    display: none;
}

#download-btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    float: right;
}

#download-btn:hover {
    background-color: RoyalBlue;
}

#shareControls {
    padding-top: 20px;
}

#updateControls {
    padding-top: 10px;
}

#alert {
    display: none;
}

.deleteIcon {
    color: red;
    float: right;
    cursor: pointer;
}